awscli==1.24.4
botocore==1.26.4
databricks-cli==0.16.6
docker==5.0.3
Flask==2.1.2
fastapi==0.63.0
flake8==4.0.1
gensim==3.8.3
imbalanced-learn==0.7.0
ipython-genutils==0.2.0
isort==5.10.1
matplotlib==3.5.2
mlflow==1.26.1
nltk==3.7
numpy==1.19.5
pandas==1.2.3
pandas-profiling==3.2.0
plotly==5.8.0
pycares==4.1.2
pycaret==2.3.10
pylint==2.14.0
pytest==7.1.2
PyYAML==5.4.1
reportlab==3.6.9
scikit-learn==0.23.2
scikit-plot==0.3.7
seaborn==0.11.2
uvicorn==0.17.6
dvc==2.8.2
great_expectations==0.13.39
